  body {
            background-color: #f8f9fa; /* Light gray background */
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        /* Style the container */
        .container {
            margin: 100px auto;
            padding: 20px;
            max-width: 600px;
            background-color: #ffffff;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style the header */
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        /* Style the paragraph */
        p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        /* Style the back to home link */
        a {
            text-decoration: none;
            color: #007bff; /* Blue link color */
        }
        .centered-div {
            text-align: center;
            margin-top: 30px; /* Adjust the margin to center the content */
        }

        /* Style the back to home link on hover */
        a:hover {
            text-decoration: underline;
        }