
        .row-with-border {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .navbar-nav .nav-link {
            font-weight: bold; /* Make the text bold */
            color: lightblue; /* Text color */
            border-radius: 10px; /* Rounded borders */
          }
        .navbar-brand {
            font-weight: bold; /* Make the text bold */
            color: yellow; /* Text color */
            border-radius: 10px; /* Rounded borders */
            padding: 5px 10px; /* Add some padding for spacing */
            background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
           
          }
        .navbar-brand,
        .navbar-nav .nav-link {
          color: white !important; 
        }
        h1 {
        	text-align: center;
        	padding: 10px;
        	display: block;
        	text-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Orange glow */
        	animation: glow 2s infinite alternate;
        	color: orange; 
        	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
        	border: 2px dotted rgba(255, 255, 255, 0.8);
        	padding: 10px;
        	border-bottom: 2px solid rgba(0, 0, 0, 0.8); /* Add a solid underline */
        	text-decoration: underline; /* Underline */
        }
        body {
        	font-family: Arial, sans-serif;
        	background-image: url("https://picsum.photos/1200/800");
        	background-size: cover;
        	background-repeat: repeat;
        	height: 100vh; /* Set height to 100vh to cover the entire viewport height */
        }
        .container {
        	background-color: rgba(255, 255, 255, 0.9); /* Light background color */
        	border: 1px solid #ccc; /* Light border around the container */
        	padding: 20px; /* Add some padding to the container */
        	border-radius: 5px; /* Add rounded corners to the container */
        }