
/* Background image styles */
body {
	font-family: Arial, sans-serif;
	background-image: url("https://picsum.photos/1200/800");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; /* Set height to 100vh to cover the entire viewport height */
}

.container {
	background-color: rgba(255, 255, 255, 0.9); /* Light background color */
	border: 1px solid #ccc; /* Light border around the container */
	padding: 20px; /* Add some padding to the container */
	border-radius: 5px; /* Add rounded corners to the container */
}

h1 {
	text-align: center;
	padding: 10px;
	display: block;
	text-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Orange glow */
	animation: glow 2s infinite alternate;
	color: orange; 
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	border: 2px dotted rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.8); /* Add a solid underline */
	text-decoration: underline; /* Underline */
}

/* Custom input field width */
.narrow-input {
	max-width: 200px;
}

/* Custom style for labels */
.bigger-font {
	font-size: 20px;
	color: black; /* Set label text color to black */
}

/* Custom label style */
.custom-label {
	font-size: 18px;
	color: black; /* Set label text color to black */
	font-weight: bold;
	padding: 5px;
	display: inline-block;
	margin-right: -320px;
	margin-bottom: 5px; /* Reduce the margin between labels */
}

.error {
	color: red;
}


