<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="/css/404error.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/api/v1/users/index">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/arrivalSearchRequests">SearchRequests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/arrivals">Arrivals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/departures">Departures</a>
        </li>
    </ul>
</div>
</nav>
<div class="centered-div">
<h2>Your Search on Arrivals or Departures by Airport did not yield any results</h2>
<p title="Retrieve flights for a specific airport that arrived or departed within a specified time interval [begin, end]. If no flights are found for the given period, the HTTP status code 404 - Not Found will be returned, along with an empty response body.">Hover here for more information!</p>
</div>
<div class="container">
    <h1>404 - Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <p><a href="/api/v1/users/index">Back to Home</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
