<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departure Details</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"  href="/css/departure.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/users/index">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/airportArrivalSearch">SearchForm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/arrivals">Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/departures">Departures</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Departure Details</h2>
    <form id="departureForm">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td><span th:text="${departure.id}" data-departure-id="${departure.id}"></span></td>
            </tr>
            <tr>
            <th  title="Unique ICAO 24-bit address of the transponder in hex string representation.">ICAO24</th>
                <td><span th:text="${departure.icao24}"></span></td>
            </tr>
            <tr>
                <th title="Unix timestamp (seconds)translated to human readable date format for the last position update. Can be null if no position report was received by OpenSky within the past 15s.">First Seen(Human Readable Date)</th>
                <td><span th:text="${firstSeenFormatted}"></span></td>
            </tr>
            <tr>
                <th title="Four letter ICAO airport aircraft departed from">Est. Departure Airport</th>
                <td><span th:text="${departure.estDepartureAirport}"></span></td>
            </tr>
            <tr>
                <th title="Unix timestamp (seconds) for the last update in general. This field is updated for any new, valid message received from the transponder.">Last Seen(Human Readable Date)</th>
                <td><span th:text="${lastSeenFormatted}"></span></td>
            </tr>
            <tr>
                <th title="Callsign of the vehicle (8 chars). Can be null if no callsign has been received.">Call Sign</th>
                <td><span th:text="${departure.callSign}"></span></td>
            </tr>
            <tr>
                <th title="Lateral distance away from the departure airport ">Est. Departure Airport Horiz. Distance</th>
                <td><span th:text="${departure.estDepartureAirportHorizDistance}"></span></td>
            </tr>
            <tr>
                <th title="Vertical distance above the airport">Est. Departure Airport Vert. Distance</th>
                <td><span th:text="${departure.estDepartureAirportVertDistance}"></span></td>
            </tr>
            <tr>
                <th title="Departure airport candidates">Departure Airport Candidates Count</th>
                <td><span th:text="${departure.departureAirportCandidatesCount}"></span></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="deleteDeparture()">Delete</button>
        <button type="button" onclick="goToDeparturesPage()">Back</button>
    </form>
</div>

<script src="/js/departure.js" type="text/javascript"></script>
<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/departure.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
