<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" type="text/css"  href="/css/register.css">
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <label class="navbar-brand" for="flight-tracking">Flight Tracking</label>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/v1/users/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="form-container">
  <h1>Registration Form</h1>
  <form id="registrationForm" action="/api/v1/users/register" method="post">
    <div class="form-group">
      <label class="highlight-label" for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" th:field="${user.username}">
    </div>
    <div class="form-group">
      <label class="highlight-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" th:field="${user.password}" required>
    </div>
    <div class="form-group">
      <label class="highlight-label" for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" th:field="${user.firstName}" required>
    </div>
    <div class="form-group">
      <label class="highlight-label" for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" th:field="${user.lastName}" required>
    </div>
    <div class="form-group">
      <label class="highlight-label" for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="MyEmailName@email.com" name="email" th:field="${user.email}" required>
    </div>
    <div class="form-group">
     <label class="highlight-label" for="registrationDate">Registration Date</label>
     <input type="date" class="form-control" name="registrationDate" id="registrationDate" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
    <div style="margin-top: 50px;"></div>
  </form>
  </div>
</div>

<script src="/js/register.js" type="text/javascript"></script>
</body>
</html>
